ul{
  list-style: none;
  padding-left: 0;
}
.results-list{
  height: 360px;
  overflow-y: auto;
  padding: 0 10px;
}
.restaurant{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}
.restaurant-name{
  font-weight: 500;
  font-size: 1.1em;
}
.restaurant:hover{
  background-color: #f2f2f2;
  outline: 1px solid #ddd;
}
.restaurant-address{
  font-size: .9em;
}
.restaurant-phone{
  font-size: .9em;
  display: inline-block;
}
.restaurant-rating{
  font-size: .9em;
  display: inline-block;
}
